# Data Scraping (Quotes, IBM)

    In this script the scrapping of the http://quotes.toscrape.com/ is done.
    
    1st step: check whether we are allowed to scrape the website (\robots.tst)
    2nd: we need to know what is the html behind (right click - inspect (on the part whcj we nwant to scrape)
    3rd: find the class of the word in the html we need to scrape
    4th: we send request to html url to receive the code of the page
    5th_1: then we use find() function to get the index of the word (this method is not the best option)
    5th_2: TextResponse() from scrapy will be used to save the page information
    
    !Note: when we scrape several pages from the same webpage, it's useful to give some time to the server to rest 
    (time library)

In [77]:
import pandas as pd
import requests
from scrapy.http import TextResponse
import time
import numpy as np

In [ ]:
! pip install scrapy

In [7]:
#we send request to html to get response
response=requests.get("http://quotes.toscrape.com/")

In [8]:
#lets observe the attributes of the response
print(response.url)
print(response.status_code) #status codes show whether your request is successful or not 
                            #(404 error is an example of the status_code)
print(response)

http://quotes.toscrape.com/
200
<Response [200]>

In [7]:
#we need always to save the page then to extract infoc we are interested in from it
#to see the content
page=response.text #html code of the page

In [8]:
type(page)

str

In [9]:
#find f is case sensitive
page.find("<small")

972

In [11]:
print(page[972:1100])

<small class="author" itemprop="author">Albert Einstein</small>
        <a href="/author/Albert-Einstein">(about)</a>
        </

#### problems of the above code: 
    1) finds only 1st small
    2) no difference between html output and text output
    3) this is confusing
    
    popular packages: beautifulsoup, lxml, scrapy (the most advanced one, very fast, it's framework)
    before starting: !pip install scrapy

In [9]:
#TextResponse() distinguishes between text and html code
page=TextResponse(url=response.url, #url scrapped
                  body=response.text, #html text
                 encoding="utf-8")#encoding info)

In [10]:
#gives all the possible small tags
page.css("small::text").extract()#if you want to get only authors(text) use extract(), 
                                 #without extract only info about "small"s

['Albert Einstein',
 'J.K. Rowling',
 'Albert Einstein',
 'Jane Austen',
 'Marilyn Monroe',
 'Albert Einstein',
 'André Gide',
 'Thomas A. Edison',
 'Eleanor Roosevelt',
 'Steve Martin']

In [12]:
page.css("span[class='text']::text").extract() #use [] to identify the class which we want to scrap
                                                #be careful with double quotes and single quotes

['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
 '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
 '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
 "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
 '“Try not to become a man of success. Rather become a man of value.”',
 '“It is better to be hated for what you are than to be loved for what you are not.”',
 "“I have not failed. I've just found 10,000 ways that won't work.”",
 "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
 '“A day without sunshine is like, you know, night.”']

In [14]:
#Div name=a
page.css("a[class='tag']::text").extract()

['change',
 'deep-thoughts',
 'thinking',
 'world',
 'abilities',
 'choices',
 'inspirational',
 'life',
 'live',
 'miracle',
 'miracles',
 'aliteracy',
 'books',
 'classic',
 'humor',
 'be-yourself',
 'inspirational',
 'adulthood',
 'success',
 'value',
 'life',
 'love',
 'edison',
 'failure',
 'inspirational',
 'paraphrased',
 'misattributed-eleanor-roosevelt',
 'humor',
 'obvious',
 'simile',
 'love',
 'inspirational',
 'life',
 'humor',
 'books',
 'reading',
 'friendship',
 'friends',
 'truth',
 'simile']

In [16]:
#extracting urls (href) of tags
page.css("a[class='tag']::attr(href)").extract()

['/tag/change/page/1/',
 '/tag/deep-thoughts/page/1/',
 '/tag/thinking/page/1/',
 '/tag/world/page/1/',
 '/tag/abilities/page/1/',
 '/tag/choices/page/1/',
 '/tag/inspirational/page/1/',
 '/tag/life/page/1/',
 '/tag/live/page/1/',
 '/tag/miracle/page/1/',
 '/tag/miracles/page/1/',
 '/tag/aliteracy/page/1/',
 '/tag/books/page/1/',
 '/tag/classic/page/1/',
 '/tag/humor/page/1/',
 '/tag/be-yourself/page/1/',
 '/tag/inspirational/page/1/',
 '/tag/adulthood/page/1/',
 '/tag/success/page/1/',
 '/tag/value/page/1/',
 '/tag/life/page/1/',
 '/tag/love/page/1/',
 '/tag/edison/page/1/',
 '/tag/failure/page/1/',
 '/tag/inspirational/page/1/',
 '/tag/paraphrased/page/1/',
 '/tag/misattributed-eleanor-roosevelt/page/1/',
 '/tag/humor/page/1/',
 '/tag/obvious/page/1/',
 '/tag/simile/page/1/',
 '/tag/love/',
 '/tag/inspirational/',
 '/tag/life/',
 '/tag/humor/',
 '/tag/books/',
 '/tag/reading/',
 '/tag/friendship/',
 '/tag/friends/',
 '/tag/truth/',
 '/tag/simile/']

In [22]:
#scrapping IMDB top movie names
response2=requests.get("https://www.imdb.com/chart/top/")

In [23]:
page2=TextResponse(url=response2.url, #url scrapped
                  body=response2.text, #html text
                 encoding="utf-8")#encoding info)

In [29]:
#finding list of film names
#find all the td-s that have all <a>FilmName</a> inside
page2.css("td[class='titleColumn']>a::text").extract() # ">" sign helps to find what is inside td title columns 
                                                        #in >a(a is the name of the class)

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'The Matrix',
 'Avengers: Endgame',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'Star Wars',
 'The Silence of the Lambs',
 "It's a Wonderful Life",
 'La vita è bella',
 'Sen to Chihiro no kamikakushi',
 'Saving Private Ryan',
 'The Usual Suspects',
 'Léon',
 'The Green Mile',
 'Interstellar',
 'Psycho',
 'American History X',
 'City Lights',
 'Casablanca',
 'Once Upon a Time in the West',
 'The Pianist',
 'Modern Times',
 'The Intouchables',
 'The Departed',
 'Back to the Future',
 'Terminator 2: Judgment Day',
 'The Lion King',
 'Whiplash',
 'Rear Window',
 'Gladiator',
 'Raiders of the Lost Ark',
 'The Prestige',
 'Apocalypse Now',
 'Memento',
 'Alien',
 'Hotaru no haka',
 'Nuovo Cinema Paradiso',
 'The Great Dictator',
 'Spider-Man: Into the Spider-Verse',
 'Sunset Blvd.',
 'The Lives of Others',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Avengers: Infinity War',
 'Paths of Glory',
 'Django Unchained',
 'The Shining',
 'WALL·E',
 'Mononoke-hime',
 'Witness for the Prosecution',
 'Oldeuboi',
 'The Dark Knight Rises',
 'Aliens',
 'American Beauty',
 'Once Upon a Time in America',
 'Coco',
 'Das Boot',
 'Citizen Kane',
 'Braveheart',
 'Vertigo',
 'Kimi no na wa.',
 'North by Northwest',
 'Reservoir Dogs',
 'Star Wars: Episode VI - Return of the Jedi',
 'M - Eine Stadt sucht einen Mörder',
 'Amadeus',
 'Requiem for a Dream',
 'Dangal',
 '3 Idiots',
 'Toy Story',
 '2001: A Space Odyssey',
 'Taare Zameen Par',
 'Eternal Sunshine of the Spotless Mind',
 'Lawrence of Arabia',
 'A Clockwork Orange',
 "Singin' in the Rain",
 'Inglourious Basterds',
 'Amélie',
 'Double Indemnity',
 'Taxi Driver',
 'Full Metal Jacket',
 'To Kill a Mockingbird',
 'Ladri di biciclette',
 'Good Will Hunting',
 'The Kid',
 'The Sting',
 'Toy Story 3',
 'Jagten',
 'Snatch',
 'Scarface',
 'Per qualche dollaro in più',
 'The Apartment',
 'Metropolis',
 'Monty Python and the Holy Grail',
 'L.A. Confidential',
 'Jodaeiye Nader az Simin',
 'Indiana Jones and the Last Crusade',
 'Up',
 'Rashômon',
 'All About Eve',
 'Toy Story 4',
 'Batman Begins',
 'Some Like It Hot',
 'Yôjinbô',
 'Der Untergang',
 'Unforgiven',
 'Die Hard',
 'Heat',
 'Incendies',
 'The Treasure of the Sierra Madre',
 'Ikiru',
 'Green Book',
 'Raging Bull',
 'Bacheha-Ye aseman',
 'The Great Escape',
 "Pan's Labyrinth",
 'Chinatown',
 'Tonari no Totoro',
 'Hauru no ugoku shiro',
 'The Third Man',
 'Ran',
 'Babam ve Oglum',
 'Judgment at Nuremberg',
 'El secreto de sus ojos',
 'The Gold Rush',
 'A Beautiful Mind',
 'The Bridge on the River Kwai',
 'Casino',
 'Lock, Stock and Two Smoking Barrels',
 'Det sjunde inseglet',
 'Three Billboards Outside Ebbing, Missouri',
 'On the Waterfront',
 'The Wolf of Wall Street',
 'The Elephant Man',
 'Inside Out',
 'V for Vendetta',
 'Mr. Smith Goes to Washington',
 'There Will Be Blood',
 'Warrior',
 'Room',
 'Blade Runner',
 'No Country for Old Men',
 'Dial M for Murder',
 'The Sixth Sense',
 'Smultronstället',
 'The General',
 'Trainspotting',
 'Gone with the Wind',
 'The Thing',
 'Fargo',
 'Idi i smotri',
 'Andhadhun',
 'Finding Nemo',
 'Gran Torino',
 'The Deer Hunter',
 'Shutter Island',
 'The Big Lebowski',
 'Kill Bill: Vol. 1',
 'Sherlock Jr.',
 'Cool Hand Luke',
 'Mary and Max',
 'Tôkyô monogatari',
 'Hacksaw Ridge',
 'Rebecca',
 'Jurassic Park',
 'How to Train Your Dragon',
 'Gone Girl',
 "Vayri patmut'yunner",
 'The Truman Show',
 'Stalker',
 'The Grand Budapest Hotel',
 'In the Name of the Father',
 'Stand by Me',
 'Sunrise: A Song of Two Humans',
 'Salinui chueok',
 'It Happened One Night',
 'Platoon',
 'Into the Wild',
 'Network',
 'Persona',
 'Life of Brian',
 'Ben-Hur',
 '12 Years a Slave',
 'Million Dollar Baby',
 'Before Sunrise',
 'Hotel Rwanda',
 'Prisoners',
 'Mad Max: Fury Road',
 'Logan',
 "Hachi: A Dog's Tale",
 'Eskiya',
 'Rush',
 'Le salaire de la peur',
 'Catch Me If You Can',
 'Les quatre cents coups',
 'Spotlight',
 'Amores perros',
 'Harry Potter and the Deathly Hallows: Part 2',
 'Andrei Rublev',
 'Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni',
 'Kaze no tani no Naushika',
 "La passion de Jeanne d'Arc",
 'The Princess Bride',
 'Barry Lyndon',
 'Rocky',
 'Butch Cassidy and the Sundance Kid',
 'Rang De Basanti',
 'Monsters, Inc.',
 'Dead Poets Society',
 'The Grapes of Wrath',
 'The Terminator',
 'The Maltese Falcon',
 'Ah-ga-ssi',
 'Gandhi',
 'La haine',
 'Faa yeung nin wa',
 'Donnie Darko',
 'Groundhog Day',
 'The Help',
 'Les diaboliques',
 'The Wizard of Oz',
 'Guardians of the Galaxy',
 'Jaws',
 'Before Sunset',
 'Tenkû no shiro Rapyuta',
 'Da hong deng long gao gao gua',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Paris, Texas',
 'Beauty and the Beast',
 'Akira',
 'The Exorcist',
 'Dog Day Afternoon',
 '8½',
 'Song of the Sea']

In [32]:
#finding ratings
page2.css("td[class='ratingColumn imdbRating']>strong::text").extract()

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [33]:
#all urls of the films
page2.css("td[class='titleColumn']>a::attr(href)").extract()

['/title/tt0111161/',
 '/title/tt0068646/',
 '/title/tt0071562/',
 '/title/tt0468569/',
 '/title/tt0050083/',
 '/title/tt0108052/',
 '/title/tt0167260/',
 '/title/tt0110912/',
 '/title/tt0060196/',
 '/title/tt0137523/',
 '/title/tt0120737/',
 '/title/tt0109830/',
 '/title/tt1375666/',
 '/title/tt0080684/',
 '/title/tt0167261/',
 '/title/tt0073486/',
 '/title/tt0099685/',
 '/title/tt0133093/',
 '/title/tt4154796/',
 '/title/tt0047478/',
 '/title/tt0114369/',
 '/title/tt0317248/',
 '/title/tt0076759/',
 '/title/tt0102926/',
 '/title/tt0038650/',
 '/title/tt0118799/',
 '/title/tt0245429/',
 '/title/tt0120815/',
 '/title/tt0114814/',
 '/title/tt0110413/',
 '/title/tt0120689/',
 '/title/tt0816692/',
 '/title/tt0054215/',
 '/title/tt0120586/',
 '/title/tt0021749/',
 '/title/tt0034583/',
 '/title/tt0064116/',
 '/title/tt0253474/',
 '/title/tt0027977/',
 '/title/tt1675434/',
 '/title/tt0407887/',
 '/title/tt0088763/',
 '/title/tt0103064/',
 '/title/tt0110357/',
 '/title/tt2582802/',
 '/title/tt0047396/',
 '/title/tt0172495/',
 '/title/tt0082971/',
 '/title/tt0482571/',
 '/title/tt0078788/',
 '/title/tt0209144/',
 '/title/tt0078748/',
 '/title/tt0095327/',
 '/title/tt0095765/',
 '/title/tt0032553/',
 '/title/tt4633694/',
 '/title/tt0043014/',
 '/title/tt0405094/',
 '/title/tt0057012/',
 '/title/tt4154756/',
 '/title/tt0050825/',
 '/title/tt1853728/',
 '/title/tt0081505/',
 '/title/tt0910970/',
 '/title/tt0119698/',
 '/title/tt0051201/',
 '/title/tt0364569/',
 '/title/tt1345836/',
 '/title/tt0090605/',
 '/title/tt0169547/',
 '/title/tt0087843/',
 '/title/tt2380307/',
 '/title/tt0082096/',
 '/title/tt0033467/',
 '/title/tt0112573/',
 '/title/tt0052357/',
 '/title/tt5311514/',
 '/title/tt0053125/',
 '/title/tt0105236/',
 '/title/tt0086190/',
 '/title/tt0022100/',
 '/title/tt0086879/',
 '/title/tt0180093/',
 '/title/tt5074352/',
 '/title/tt1187043/',
 '/title/tt0114709/',
 '/title/tt0062622/',
 '/title/tt0986264/',
 '/title/tt0338013/',
 '/title/tt0056172/',
 '/title/tt0066921/',
 '/title/tt0045152/',
 '/title/tt0361748/',
 '/title/tt0211915/',
 '/title/tt0036775/',
 '/title/tt0075314/',
 '/title/tt0093058/',
 '/title/tt0056592/',
 '/title/tt0040522/',
 '/title/tt0119217/',
 '/title/tt0012349/',
 '/title/tt0070735/',
 '/title/tt0435761/',
 '/title/tt2106476/',
 '/title/tt0208092/',
 '/title/tt0086250/',
 '/title/tt0059578/',
 '/title/tt0053604/',
 '/title/tt0017136/',
 '/title/tt0071853/',
 '/title/tt0119488/',
 '/title/tt1832382/',
 '/title/tt0097576/',
 '/title/tt1049413/',
 '/title/tt0042876/',
 '/title/tt0042192/',
 '/title/tt1979376/',
 '/title/tt0372784/',
 '/title/tt0053291/',
 '/title/tt0055630/',
 '/title/tt0363163/',
 '/title/tt0105695/',
 '/title/tt0095016/',
 '/title/tt0113277/',
 '/title/tt1255953/',
 '/title/tt0040897/',
 '/title/tt0044741/',
 '/title/tt6966692/',
 '/title/tt0081398/',
 '/title/tt0118849/',
 '/title/tt0057115/',
 '/title/tt0457430/',
 '/title/tt0071315/',
 '/title/tt0096283/',
 '/title/tt0347149/',
 '/title/tt0041959/',
 '/title/tt0089881/',
 '/title/tt0476735/',
 '/title/tt0055031/',
 '/title/tt1305806/',
 '/title/tt0015864/',
 '/title/tt0268978/',
 '/title/tt0050212/',
 '/title/tt0112641/',
 '/title/tt0120735/',
 '/title/tt0050976/',
 '/title/tt5027774/',
 '/title/tt0047296/',
 '/title/tt0993846/',
 '/title/tt0080678/',
 '/title/tt2096673/',
 '/title/tt0434409/',
 '/title/tt0031679/',
 '/title/tt0469494/',
 '/title/tt1291584/',
 '/title/tt3170832/',
 '/title/tt0083658/',
 '/title/tt0477348/',
 '/title/tt0046912/',
 '/title/tt0167404/',
 '/title/tt0050986/',
 '/title/tt0017925/',
 '/title/tt0117951/',
 '/title/tt0031381/',
 '/title/tt0084787/',
 '/title/tt0116282/',
 '/title/tt0091251/',
 '/title/tt8108198/',
 '/title/tt0266543/',
 '/title/tt1205489/',
 '/title/tt0077416/',
 '/title/tt1130884/',
 '/title/tt0118715/',
 '/title/tt0266697/',
 '/title/tt0015324/',
 '/title/tt0061512/',
 '/title/tt0978762/',
 '/title/tt0046438/',
 '/title/tt2119532/',
 '/title/tt0032976/',
 '/title/tt0107290/',
 '/title/tt0892769/',
 '/title/tt2267998/',
 '/title/tt3011894/',
 '/title/tt0120382/',
 '/title/tt0079944/',
 '/title/tt2278388/',
 '/title/tt0107207/',
 '/title/tt0092005/',
 '/title/tt0018455/',
 '/title/tt0353969/',
 '/title/tt0025316/',
 '/title/tt0091763/',
 '/title/tt0758758/',
 '/title/tt0074958/',
 '/title/tt0060827/',
 '/title/tt0079470/',
 '/title/tt0052618/',
 '/title/tt2024544/',
 '/title/tt0405159/',
 '/title/tt0112471/',
 '/title/tt0395169/',
 '/title/tt1392214/',
 '/title/tt1392190/',
 '/title/tt3315342/',
 '/title/tt1028532/',
 '/title/tt0116231/',
 '/title/tt1979320/',
 '/title/tt0046268/',
 '/title/tt0264464/',
 '/title/tt0053198/',
 '/title/tt1895587/',
 '/title/tt0245712/',
 '/title/tt1201607/',
 '/title/tt0060107/',
 '/title/tt0169858/',
 '/title/tt0087544/',
 '/title/tt0019254/',
 '/title/tt0093779/',
 '/title/tt0072684/',
 '/title/tt0075148/',
 '/title/tt0064115/',
 '/title/tt0405508/',
 '/title/tt0198781/',
 '/title/tt0097165/',
 '/title/tt0032551/',
 '/title/tt0088247/',
 '/title/tt0033870/',
 '/title/tt4016934/',
 '/title/tt0083987/',
 '/title/tt0113247/',
 '/title/tt0118694/',
 '/title/tt0246578/',
 '/title/tt0107048/',
 '/title/tt1454029/',
 '/title/tt0046911/',
 '/title/tt0032138/',
 '/title/tt2015381/',
 '/title/tt0073195/',
 '/title/tt0381681/',
 '/title/tt0092067/',
 '/title/tt0101640/',
 '/title/tt0325980/',
 '/title/tt0087884/',
 '/title/tt0101414/',
 '/title/tt0094625/',
 '/title/tt0070047/',
 '/title/tt0072890/',
 '/title/tt0056801/',
 '/title/tt1865505/']

In [35]:
#production year of the films
page2.css("td[class='titleColumn']>span::text").extract()

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1975)',
 '(1990)',
 '(1999)',
 '(2019)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1977)',
 '(1991)',
 '(1946)',
 '(1997)',
 '(2001)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1999)',
 '(2014)',
 '(1960)',
 '(1998)',
 '(1931)',
 '(1942)',
 '(1968)',
 '(2002)',
 '(1936)',
 '(2011)',
 '(2006)',
 '(1985)',
 '(1991)',
 '(1994)',
 '(2014)',
 '(1954)',
 '(2000)',
 '(1981)',
 '(2006)',
 '(1979)',
 '(2000)',
 '(1979)',
 '(1988)',
 '(1988)',
 '(1940)',
 '(2018)',
 '(1950)',
 '(2006)',
 '(1964)',
 '(2018)',
 '(1957)',
 '(2012)',
 '(1980)',
 '(2008)',
 '(1997)',
 '(1957)',
 '(2003)',
 '(2012)',
 '(1986)',
 '(1999)',
 '(1984)',
 '(2017)',
 '(1981)',
 '(1941)',
 '(1995)',
 '(1958)',
 '(2016)',
 '(1959)',
 '(1992)',
 '(1983)',
 '(1931)',
 '(1984)',
 '(2000)',
 '(2016)',
 '(2009)',
 '(1995)',
 '(1968)',
 '(2007)',
 '(2004)',
 '(1962)',
 '(1971)',
 '(1952)',
 '(2009)',
 '(2001)',
 '(1944)',
 '(1976)',
 '(1987)',
 '(1962)',
 '(1948)',
 '(1997)',
 '(1921)',
 '(1973)',
 '(2010)',
 '(2012)',
 '(2000)',
 '(1983)',
 '(1965)',
 '(1960)',
 '(1927)',
 '(1975)',
 '(1997)',
 '(2011)',
 '(1989)',
 '(2009)',
 '(1950)',
 '(1950)',
 '(2019)',
 '(2005)',
 '(1959)',
 '(1961)',
 '(2004)',
 '(1992)',
 '(1988)',
 '(1995)',
 '(2010)',
 '(1948)',
 '(1952)',
 '(2018)',
 '(1980)',
 '(1997)',
 '(1963)',
 '(2006)',
 '(1974)',
 '(1988)',
 '(2004)',
 '(1949)',
 '(1985)',
 '(2005)',
 '(1961)',
 '(2009)',
 '(1925)',
 '(2001)',
 '(1957)',
 '(1995)',
 '(1998)',
 '(1957)',
 '(2017)',
 '(1954)',
 '(2013)',
 '(1980)',
 '(2015)',
 '(2005)',
 '(1939)',
 '(2007)',
 '(2011)',
 '(2015)',
 '(1982)',
 '(2007)',
 '(1954)',
 '(1999)',
 '(1957)',
 '(1926)',
 '(1996)',
 '(1939)',
 '(1982)',
 '(1996)',
 '(1985)',
 '(2018)',
 '(2003)',
 '(2008)',
 '(1978)',
 '(2010)',
 '(1998)',
 '(2003)',
 '(1924)',
 '(1967)',
 '(2009)',
 '(1953)',
 '(2016)',
 '(1940)',
 '(1993)',
 '(2010)',
 '(2014)',
 '(2014)',
 '(1998)',
 '(1979)',
 '(2014)',
 '(1993)',
 '(1986)',
 '(1927)',
 '(2003)',
 '(1934)',
 '(1986)',
 '(2007)',
 '(1976)',
 '(1966)',
 '(1979)',
 '(1959)',
 '(2013)',
 '(2004)',
 '(1995)',
 '(2004)',
 '(2013)',
 '(2015)',
 '(2017)',
 '(2009)',
 '(1996)',
 '(2013)',
 '(1953)',
 '(2002)',
 '(1959)',
 '(2015)',
 '(2000)',
 '(2011)',
 '(1966)',
 '(1997)',
 '(1984)',
 '(1928)',
 '(1987)',
 '(1975)',
 '(1976)',
 '(1969)',
 '(2006)',
 '(2001)',
 '(1989)',
 '(1940)',
 '(1984)',
 '(1941)',
 '(2016)',
 '(1982)',
 '(1995)',
 '(2000)',
 '(2001)',
 '(1993)',
 '(2011)',
 '(1955)',
 '(1939)',
 '(2014)',
 '(1975)',
 '(2004)',
 '(1986)',
 '(1991)',
 '(2003)',
 '(1984)',
 '(1991)',
 '(1988)',
 '(1973)',
 '(1975)',
 '(1963)',
 '(2014)']

In [53]:
#gives list of tables
tables=pd.read_html('https://www.imdb.com/chart/top')

In [52]:
len(tables)

2

<b>There are 2 tables in the scraped list.</b>

In [54]:
#let's see what are the columns of the first table
tables[0].head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN

In [55]:
tables[1].head() #some anhsakanali table:D

,0,1,2,3,4,5,6,7
0,Amazon Affiliates,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Prime Video Unlimited Streamingof Movies & TV,Amazon UK Buy Movies onDVD & Blu-ray,Amazon Germany Buy Movies onDVD & Blu-ray,Amazon Italy Buy Movies onDVD & Blu-ray,Amazon France Buy Movies onDVD & Blu-ray,Amazon India Buy Movie andTV Show DVDs,DPReview DigitalPhotography,Audible DownloadAudio Books

In [51]:
#printing only Rank & Title
tables[0].iloc[:,1]

0                   1.  The Shawshank Redemption  (1994)
1                              2.  The Godfather  (1972)
2                     3.  The Godfather: Part II  (1974)
3                            4.  The Dark Knight  (2008)
4                               5.  12 Angry Men  (1957)
5                           6.  Schindler's List  (1993)
6      7.  The Lord of the Rings: The Return of the K...
7                               8.  Pulp Fiction  (1994)
8            9.  Il buono, il brutto, il cattivo  (1966)
9                                10.  Fight Club  (1999)
10     11.  The Lord of the Rings: The Fellowship of ...
11                             12.  Forrest Gump  (1994)
12                                13.  Inception  (2010)
13     14.  Star Wars: Episode V - The Empire Strikes...
14     15.  The Lord of the Rings: The Two Towers  (2...
15          16.  One Flew Over the Cuckoo's Nest  (1975)
16                               17.  Goodfellas  (1990)
17                               18.  The Matrix  (1999)
18                        19.  Avengers: Endgame  (2019)
19                     20.  Shichinin no samurai  (1954)
20                                    21.  Se7en  (1995)
21                           22.  Cidade de Deus  (2002)
22                                23.  Star Wars  (1977)
23                 24.  The Silence of the Lambs  (1991)
24                    25.  It's a Wonderful Life  (1946)
25                          26.  La vita è bella  (1997)
26            27.  Sen to Chihiro no kamikakushi  (2001)
27                      28.  Saving Private Ryan  (1998)
28                       29.  The Usual Suspects  (1995)
29                                     30.  Léon  (1994)
                             ...
220                                  221.  Rocky  (1976)
221     222.  Butch Cassidy and the Sundance Kid  (1969)
222                        223.  Rang De Basanti  (2006)
223                         224.  Monsters, Inc.  (2001)
224                     225.  Dead Poets Society  (1989)
225                    226.  The Grapes of Wrath  (1940)
226                         227.  The Terminator  (1984)
227                     228.  The Maltese Falcon  (1941)
228                              229.  Ah-ga-ssi  (2016)
229                                 230.  Gandhi  (1982)
230                               231.  La haine  (1995)
231                       232.  Faa yeung nin wa  (2000)
232                           233.  Donnie Darko  (2001)
233                          234.  Groundhog Day  (1993)
234                               235.  The Help  (2011)
235                        236.  Les diaboliques  (1955)
236                       237.  The Wizard of Oz  (1939)
237                238.  Guardians of the Galaxy  (2014)
238                                   239.  Jaws  (1975)
239                          240.  Before Sunset  (2004)
240                 241.  Tenkû no shiro Rapyuta  (1986)
241          242.  Da hong deng long gao gao gua  (1991)
242    243.  Pirates of the Caribbean: The Curse of t...
243                           244.  Paris, Texas  (1984)
244                   245.  Beauty and the Beast  (1991)
245                                  246.  Akira  (1988)
246                           247.  The Exorcist  (1973)
247                      248.  Dog Day Afternoon  (1975)
248                                     249.  8½  (1963)
249                        250.  Song of the Sea  (2014)
Name: Rank & Title, Length: 250, dtype: object

In [57]:
#getting url-s of all pages of http://quotes.toscrape.com,
#as there are 10 pages, we can run "for loop"
for i in range(0,11):
    print("http://quotes.toscrape.com/page/"+str(i)+"/")

http://quotes.toscrape.com/page/0/
http://quotes.toscrape.com/page/1/
http://quotes.toscrape.com/page/2/
http://quotes.toscrape.com/page/3/
http://quotes.toscrape.com/page/4/
http://quotes.toscrape.com/page/5/
http://quotes.toscrape.com/page/6/
http://quotes.toscrape.com/page/7/
http://quotes.toscrape.com/page/8/
http://quotes.toscrape.com/page/9/
http://quotes.toscrape.com/page/10/

In [58]:
#list comprehension can be used as well (quicker way actually)
["http://quotes.toscrape.com/page/"+str(i)+"/" for i in range(0,11)]

['http://quotes.toscrape.com/page/0/',
 'http://quotes.toscrape.com/page/1/',
 'http://quotes.toscrape.com/page/2/',
 'http://quotes.toscrape.com/page/3/',
 'http://quotes.toscrape.com/page/4/',
 'http://quotes.toscrape.com/page/5/',
 'http://quotes.toscrape.com/page/6/',
 'http://quotes.toscrape.com/page/7/',
 'http://quotes.toscrape.com/page/8/',
 'http://quotes.toscrape.com/page/9/',
 'http://quotes.toscrape.com/page/10/']

In [60]:
#{} can be used instead of [+str(i)+"/"] part
all_urls=["http://quotes.toscrape.com/page/{}/".format(i) for i in range(0,11)]

In [61]:
#we can create the function, so that we can scrape all the pages w/ one code
def author_scraper(url):
    response=requests.get(url)
    page=TextResponse(url=response.url, body=response.text,encoding="utf-8" )
    authors=page.css("small::text").extract()
    return authors

In [64]:
#let's use function created by us to get the author names from any page
author_scraper('http://quotes.toscrape.com/page/2/')

['Marilyn Monroe',
 'J.K. Rowling',
 'Albert Einstein',
 'Bob Marley',
 'Dr. Seuss',
 'Douglas Adams',
 'Elie Wiesel',
 'Friedrich Nietzsche',
 'Mark Twain',
 'Allen Saunders']

In [70]:
#let's get all the author names from all the pages
all_authors=[]
for i in all_urls:
    all_authors.append(author_scraper(i))
    time.sleep(2) #it's useful to give some time to the server to rest (rule of thumb)
print(all_authors) #the output is list of lists (this is the problem of append)

[[], ['Albert Einstein', 'J.K. Rowling', 'Albert Einstein', 'Jane Austen', 'Marilyn Monroe', 'Albert Einstein', 'André Gide', 'Thomas A. Edison', 'Eleanor Roosevelt', 'Steve Martin'], ['Marilyn Monroe', 'J.K. Rowling', 'Albert Einstein', 'Bob Marley', 'Dr. Seuss', 'Douglas Adams', 'Elie Wiesel', 'Friedrich Nietzsche', 'Mark Twain', 'Allen Saunders'], ['Pablo Neruda', 'Ralph Waldo Emerson', 'Mother Teresa', 'Garrison Keillor', 'Jim Henson', 'Dr. Seuss', 'Albert Einstein', 'J.K. Rowling', 'Albert Einstein', 'Bob Marley'], ['Dr. Seuss', 'J.K. Rowling', 'Bob Marley', 'Mother Teresa', 'J.K. Rowling', 'Charles M. Schulz', 'William Nicholson', 'Albert Einstein', 'Jorge Luis Borges', 'George Eliot'], ['George R.R. Martin', 'C.S. Lewis', 'Marilyn Monroe', 'Marilyn Monroe', 'Albert Einstein', 'Marilyn Monroe', 'Marilyn Monroe', 'Martin Luther King Jr.', 'J.K. Rowling', 'James Baldwin'], ['Jane Austen', 'Eleanor Roosevelt', 'Marilyn Monroe', 'Albert Einstein', 'Haruki Murakami', 'Alexandre Dumas fils', 'Stephenie Meyer', 'Ernest Hemingway', 'Helen Keller', 'George Bernard Shaw'], ['Charles Bukowski', 'Suzanne Collins', 'Suzanne Collins', 'C.S. Lewis', 'J.R.R. Tolkien', 'J.K. Rowling', 'Ernest Hemingway', 'Ralph Waldo Emerson', 'Mark Twain', 'Dr. Seuss'], ['Alfred Tennyson', 'Charles Bukowski', 'Terry Pratchett', 'Dr. Seuss', 'J.D. Salinger', 'George Carlin', 'John Lennon', 'W.C. Fields', 'Ayn Rand', 'Mark Twain'], ['Albert Einstein', 'Jane Austen', 'J.K. Rowling', 'Jane Austen', 'Jane Austen', 'C.S. Lewis', 'C.S. Lewis', 'Mark Twain', 'Mark Twain', 'C.S. Lewis'], ['J.K. Rowling', 'Jimi Hendrix', 'J.M. Barrie', 'E.E. Cummings', 'Khaled Hosseini', 'Harper Lee', "Madeleine L'Engle", 'Mark Twain', 'Dr. Seuss', 'George R.R. Martin']]

In [74]:
#to avoid the problem of append, we can use extend() function
all_authors=[]
for i in all_urls:
    all_authors[i]=extend(author_scraper(i))
    time.sleep(2) 
print(all_authors)

['Albert Einstein', 'J.K. Rowling', 'Albert Einstein', 'Jane Austen', 'Marilyn Monroe', 'Albert Einstein', 'André Gide', 'Thomas A. Edison', 'Eleanor Roosevelt', 'Steve Martin', 'Marilyn Monroe', 'J.K. Rowling', 'Albert Einstein', 'Bob Marley', 'Dr. Seuss', 'Douglas Adams', 'Elie Wiesel', 'Friedrich Nietzsche', 'Mark Twain', 'Allen Saunders', 'Pablo Neruda', 'Ralph Waldo Emerson', 'Mother Teresa', 'Garrison Keillor', 'Jim Henson', 'Dr. Seuss', 'Albert Einstein', 'J.K. Rowling', 'Albert Einstein', 'Bob Marley', 'Dr. Seuss', 'J.K. Rowling', 'Bob Marley', 'Mother Teresa', 'J.K. Rowling', 'Charles M. Schulz', 'William Nicholson', 'Albert Einstein', 'Jorge Luis Borges', 'George Eliot', 'George R.R. Martin', 'C.S. Lewis', 'Marilyn Monroe', 'Marilyn Monroe', 'Albert Einstein', 'Marilyn Monroe', 'Marilyn Monroe', 'Martin Luther King Jr.', 'J.K. Rowling', 'James Baldwin', 'Jane Austen', 'Eleanor Roosevelt', 'Marilyn Monroe', 'Albert Einstein', 'Haruki Murakami', 'Alexandre Dumas fils', 'Stephenie Meyer', 'Ernest Hemingway', 'Helen Keller', 'George Bernard Shaw', 'Charles Bukowski', 'Suzanne Collins', 'Suzanne Collins', 'C.S. Lewis', 'J.R.R. Tolkien', 'J.K. Rowling', 'Ernest Hemingway', 'Ralph Waldo Emerson', 'Mark Twain', 'Dr. Seuss', 'Alfred Tennyson', 'Charles Bukowski', 'Terry Pratchett', 'Dr. Seuss', 'J.D. Salinger', 'George Carlin', 'John Lennon', 'W.C. Fields', 'Ayn Rand', 'Mark Twain', 'Albert Einstein', 'Jane Austen', 'J.K. Rowling', 'Jane Austen', 'Jane Austen', 'C.S. Lewis', 'C.S. Lewis', 'Mark Twain', 'Mark Twain', 'C.S. Lewis', 'J.K. Rowling', 'Jimi Hendrix', 'J.M. Barrie', 'E.E. Cummings', 'Khaled Hosseini', 'Harper Lee', "Madeleine L'Engle", 'Mark Twain', 'Dr. Seuss', 'George R.R. Martin']

In [78]:
#let's get unique list of the author names
set(all_authors)

{'Albert Einstein',
 'Alexandre Dumas fils',
 'Alfred Tennyson',
 'Allen Saunders',
 'André Gide',
 'Ayn Rand',
 'Bob Marley',
 'C.S. Lewis',
 'Charles Bukowski',
 'Charles M. Schulz',
 'Douglas Adams',
 'Dr. Seuss',
 'E.E. Cummings',
 'Eleanor Roosevelt',
 'Elie Wiesel',
 'Ernest Hemingway',
 'Friedrich Nietzsche',
 'Garrison Keillor',
 'George Bernard Shaw',
 'George Carlin',
 'George Eliot',
 'George R.R. Martin',
 'Harper Lee',
 'Haruki Murakami',
 'Helen Keller',
 'J.D. Salinger',
 'J.K. Rowling',
 'J.M. Barrie',
 'J.R.R. Tolkien',
 'James Baldwin',
 'Jane Austen',
 'Jim Henson',
 'Jimi Hendrix',
 'John Lennon',
 'Jorge Luis Borges',
 'Khaled Hosseini',
 "Madeleine L'Engle",
 'Marilyn Monroe',
 'Mark Twain',
 'Martin Luther King Jr.',
 'Mother Teresa',
 'Pablo Neruda',
 'Ralph Waldo Emerson',
 'Stephenie Meyer',
 'Steve Martin',
 'Suzanne Collins',
 'Terry Pratchett',
 'Thomas A. Edison',
 'W.C. Fields',
 'William Nicholson'}

In [79]:
#another way of printing unique values
print(np.unique(all_authors))

['Albert Einstein' 'Alexandre Dumas fils' 'Alfred Tennyson'
 'Allen Saunders' 'André Gide' 'Ayn Rand' 'Bob Marley' 'C.S. Lewis'
 'Charles Bukowski' 'Charles M. Schulz' 'Douglas Adams' 'Dr. Seuss'
 'E.E. Cummings' 'Eleanor Roosevelt' 'Elie Wiesel' 'Ernest Hemingway'
 'Friedrich Nietzsche' 'Garrison Keillor' 'George Bernard Shaw'
 'George Carlin' 'George Eliot' 'George R.R. Martin' 'Harper Lee'
 'Haruki Murakami' 'Helen Keller' 'J.D. Salinger' 'J.K. Rowling'
 'J.M. Barrie' 'J.R.R. Tolkien' 'James Baldwin' 'Jane Austen' 'Jim Henson'
 'Jimi Hendrix' 'John Lennon' 'Jorge Luis Borges' 'Khaled Hosseini'
 "Madeleine L'Engle" 'Marilyn Monroe' 'Mark Twain'
 'Martin Luther King Jr.' 'Mother Teresa' 'Pablo Neruda'
 'Ralph Waldo Emerson' 'Stephenie Meyer' 'Steve Martin' 'Suzanne Collins'
 'Terry Pratchett' 'Thomas A. Edison' 'W.C. Fields' 'William Nicholson']